@font-face {
  font-family: Kotori;
  src: url(./fonts/KotoriRose-Bold.otf);
}

* {
  box-sizing: border-box;
}


body {    
  height:95vh;  
  margin: auto 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/petr-sevcovic_background.jpg);
  background-size: cover;  
  background-repeat: no-repeat; 
  background-color:black;
  overflow-y: auto;  
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero_title{
  color: white;
  font-family: Kotori;
  font-size:5rem;
}

